/*
 * Copyright (c) 2025 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>

#include "zmk-helpers/helper.h"
#include "includes/cornix54.h"

/ {
    macros {
        vial_macro0: vial_macro0 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp N1 &kp N3 &kp DOT &kp G &kp A &kp T &kp O &kp RA(N2) &kp N2>;
        };
    };

    combos {
        compatible = "zmk,combos";
        combo_bslh {
            timeout-ms = <50>;
            key-positions = <32 40>; 
            bindings = <&kp BSLH>;
        };
        combo_ralt_n {
            timeout-ms = <50>;
            key-positions = <32 33>;
            bindings = <&kp RA(N)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            bindings = <
&kp TAB    &kp Q         &kp W        &kp E           &kp R    &kp T                                        &kp Y     &kp U    &kp I     &kp O      &kp P         &lt 5 MINUS
&kp CAPS   &kp A         &kp S        &kp D           &kp F    &kp G                                        &kp H     &kp J    &kp K     &kp L      &kp SCLN      &kp SQT
&kp LSHFT  &kp Z         &kp X        &kp C           &kp V    &kp B     &kp C_MUTE        &mkp MB3         &kp N     &kp M    &kp COMMA &kp DOT    &kp UP        &mt RSHFT FSLH
&kp LCTRL  &kp LGUI      &kp LALT     &lt 1 DEL       &mo 3    &kp SPACE                                    &kp ENTER &mo 4    &lt 2 BSPC &kp LEFT  &kp DOWN      &mt RCTRL RIGHT
            >;

            sensor-bindings = <&inc_dec_kp LC(LEFT) LC(RIGHT)>, <&inc_dec_kp PG_UP PG_DN>;
        };

        orange_layer {
            display-name = "L1";
            bindings = <
&kp ESC    &kp N1        &kp N2       &kp N3          &kp N4   &kp N5                                       &kp N6    &kp N7   &kp N8    &kp N9     &kp N0        &kp DEL
&kp TAB    &kp F1        &kp F2       &kp F3          &kp F4   &kp F5                                       &kp F6    &kp F7   &kp F8    &kp F9     &kp F10       &kp F11
&kp LSHFT  &none         &none        &none           &none    &none     &kp C_MUTE        &mkp MB3         &none     &none    &kp COMMA &kp DOT    &kp FSLH      &kp F12
&kp LCTRL  &kp LGUI      &kp LALT     &none           &none    &none                                        &none     &none    &none     &kp RGUI   &kp K_APP     &kp RCTRL
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP>, <&inc_dec_kp PG_UP PG_DN>;
        };

        lower_layer {
            display-name = "L2";
            bindings = <
&kp ESC    &kp N1        &kp N2       &kp N3          &kp N4   &kp N5                                       &kp N6    &kp N7   &kp N8    &kp N9     &kp N0        &none
&kp TAB    &kp F1        &kp F2       &kp F3          &kp F4   &kp F5                                       &kp F6    &kp F7   &kp F8    &kp F9     &kp F10       &kp F11
&kp LSHFT  &none         &none        &none           &none    &none     &kp C_MUTE        &mkp MB3         &none     &none    &kp COMMA &kp DOT    &kp FSLH      &kp F12
&kp LCTRL  &kp LGUI      &kp LALT     &none           &none    &kp SPACE                                    &kp ENTER &none    &none     &kp RGUI   &kp K_APP     &kp RCTRL
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP>, <&inc_dec_kp PG_UP PG_DN>;
        };

        raise_layer {
            display-name = "L3";
            bindings = <
&none      &none         &kp PG_UP    &kp UP          &kp PG_DN &none                                       &kp LS(N6) &kp LS(N7) &kp LS(N8) &kp LS(N9) &kp LS(N0) &kp LS(MINUS)
&none      &none         &kp LEFT     &kp DOWN        &kp RIGHT &none                                       &kp LS(N0) &kp RBKT   &kp LS(RBKT) &kp LS(N1) &kp LS(FSLH) &kp EQUAL
&none      &none         &kp HOME     &kp INS         &kp END   &none     &kp C_MUTE        &mkp MB3         &kp DOT    &kp RBKT   &kp SCLN   &none      &kp LS(FSLH)  &none
&none      &none         &none        &none           &none     &none                                       &none      &none      &none      &none      &none         &none
            >;

            // IZQ: Palabras (Ctrl+Flechas) | DER: Párrafos (Ctrl+Arriba/Abajo)
            sensor-bindings = <&inc_dec_kp LC(RIGHT) LC(LEFT)>, <&inc_dec_kp LC(DOWN) LC(UP)>;
        };

        green_layer {
            display-name = "L4";
            bindings = <
&kp GRAVE  &kp LS(N1)    &kp LS(N2)   &kp LS(N3)      &kp LS(N4) &kp LS(N5)                                     &kp PSCRN &kp PG_UP &kp UP    &kp PG_DN  &kp LS(N0)    &none
&none      &kp RA(FSLH)  &kp RA(N1)   &kp LS(LBKT)    &kp LBKT   &kp LS(N9)                                     &none     &kp LEFT  &kp DOWN  &kp RIGHT  &none         &none
&none      &none         &none        &none           &vial_macro0 &kp LG(SPACE) &kp C_MUTE    &mkp MB3         &none     &kp HOME  &kp INS   &kp END    &none         &none
&none      &none         &none        &none           &none      &none                                          &none     &none     &none     &none      &none         &none
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP>, <&inc_dec_kp PG_UP PG_DN>;
        };

        system_layer {
            display-name = "System";
            bindings = <
&bt BT_CLR   &none       &none        &none           &none    &none                                        &none     &none    &none     &none      &none         &none
&bt BT_SEL 0 &none       &none        &none           &none    &none                                        &none     &none    &none     &none      &none         &none
&bt BT_SEL 1 &none       &none        &none           &none    &none     &kp C_MUTE        &mkp MB3         &none     &none    &none     &none      &none         &none
&bt BT_SEL 2 &none       &bt BT_SEL 4 &none           &none    &none                                        &none     &none    &none     &bt BT_SEL 3 &none       &none
            >;

            // Brillo del Dongle: F24 (Subir) / F23 (Bajar) 
            sensor-bindings = <&inc_dec_kp F24 F23>, <&inc_dec_kp F24 F23>;
        };
    };
};
